@use '../../../scss/placeholders';
@use '../dashboardPlaceholders';
@import '../../../scss/mixins';
@import '../../../scss/variables';

.teamsSection {
  @include mdScreen {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .teams {
    @extend %nonTableSectionContent;
    flex-direction: column;

    ul {
      @extend %baseList;

      li {
        position: relative;
        .itemDescription {
          margin-left: 1rem;
          margin-right: auto;
          font-size: 0.9rem;
          font-style: italic;
        }

        .teamDeleteBtn {
          display: inline-block;
          position: absolute;
          right: 1rem;
          top: 1.4rem;
        }
      }
    }

    .showAddTeamBtn {
      @extend %baseButton;
      @extend %darkeningBorder;
      margin: auto 1rem 1rem 1rem;
      background-color: $bright-3;
    }
  }

  .teamsCaption {
    @extend %nonTableSectionCaption;
    background-color: $purple-1;
    color: $bright-1;
  }

  .noTasks {
    @extend %noTasks;
  }
}
